.footer{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    padding: 24px 0 0 0;
}

#brands li{
    display: inline-block;
    padding: 0 20px 0 20px;
    /* display: inline; */
}

.brand__icon{
    height: 30px;
}

.brand__align{
    text-align: end;
}

.contact_footer{
    color: #89BA16 !important;
}

.contact_footer:hover{
    color: #5c800a !important;
}

.footer__brand__link{
    color: #89BA16;
}

.footer__brand__link:hover{
    color: #5c800a;
}
